In [ ]:
# 1.

'''
Count: The number of non-missing (non-NA/null) values in the column.
Mean: The arithmetic average of the values in the column.
Std (Standard Deviation): A measure of the dispersion or spread of the values in the column. It quantifies how much the values deviate from the mean.
Min: The minimum value in the column.
25% (First Quartile): The value below which 25% of the data fall. This is the first quartile (Q1).
50% (Median or Second Quartile): The value below which 50% of the data fall. This is the median (Q2).
75% (Third Quartile): The value below which 75% of the data fall. This is the third quartile (Q3).
Max: The maximum value in the column.
'''

In [11]:

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
#7

#1
'''
Removing Rows with Missing Values Across the DataFrame
When you want to remove rows that contain any missing (NaN) values in any column,df.dropna() is useful.
'''

#2
'''
Deleting a Column That is Irrelevant to Analysis:
If there is a specific column in your DataFrame that is irrelevant or unneeded for your analysis,
and you want to delete it entirely, del df['col'] is the way to go.
'''

#3
'''
df.dropna() cleans rows based on missing values across columns
del df['col'] is used to delete specific columns that are unnecessary or filled with NaNs.

Using del df['col'] is important since a row could have a missing value on the columns that will be deleted using del df['col'],
but it can be deleated by df.dropna() if we use df.dropna() first.
If we use del df['col'] and then df.dropna(), that row will not be deleated since it doesn't have any missing values.
'''

#4
# Step 1: Delete an irrelevant or unnecessary column, e.g., 'deck' (which has many NaNs)
del df['deck']

# Step 2: Drop rows with any remaining missing values
df_cleaned = df.dropna()

# View the cleaned dataset
print(df_cleaned)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
885         0       3  female  39.0      0      5  29.1250        Q   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male  embark_town alive  alone
0      man        True  Southampton    no  False
1    woman       False    Cherbourg   yes  False
2    woman       False  Southampton   yes   True
3    woman       False  Southampton   yes  False
4      man        True  Southampton    no   True
..     ...         ...          ...   ...    ...
885  woman       False   Queenstown    no  False
886    man        True  Southampton    no   True
887  woman       False  Southampton   yes   True
889    man        True    Cherbourg   yes   True
890    man        True   Queenstown    no   True

[712 rows x 14 columns]

In [10]:
#8

#1
'''
Group By "col1": It groups the DataFrame by the unique values in "col1".
Aggregate "col2": Within each group, it calculates descriptive statistics (like count, mean, std, min, 25%, 50%, 75%, and max) for "col2".
'''


data = {'category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)

# Group by 'category' and describe 'value'
result = df.groupby("category")["value"].describe()
print(result)

          count  mean       std   min   25%   50%   75%   max
category
A           2.0  15.0  7.071068  10.0  12.5  15.0  17.5  20.0
B           2.0  35.0  7.071068  30.0  32.5  35.0  37.5  40.0
C           2.0  55.0  7.071068  50.0  52.5  55.0  57.5  60.0

In [ ]:
# 8.2
'''
The key difference is that df.describe() looks at the whole DataFrame,
while groupby().describe() looks at grouped subsets of the data.
'''

In [ ]:
#8.3
#Chatgpt fixes most of the error quickly

In [ ]:
#Summary
'''
Certainly! Hereâ€™s a summary of our interactions:

Difference Between df.describe() and df.groupby("col1")["col2"].describe():

df.describe() provides summary statistics (such as count, mean, std, etc.) for each column across the entire DataFrame, with the count showing the number of non-missing values per column.
df.groupby("col1")["col2"].describe() provides summary statistics for col2 within each group defined by col1, with the count showing the number of non-missing col2 values for each group.
Fixing Code Error:

Error Encountered: NameError: name 'pd' is not defined
Solution: Import the pandas library using import pandas as pd before using pd.read_csv().
'''

#https://chatgpt.com/share/66e3b7c1-163c-8012-98bc-9fb67de48ecb